@page "/basicMaze"
@using System.Runtime.CompilerServices
@using labyrinth
<PageTitle>Basic Maze</PageTitle>

<h1>Basic Maze Visualizer</h1>

<h1>Enter your name:</h1>
<input @bind="userName" />

@if (startLocation == null)
{
    <button @onclick="generateMaze">Generate Basic Maze</button>
}
else
{
    <h2>Start Location:</h2>
    <p>@startLocation</p>
}

@code {

    private string userName = "";
    private MazeCell? startLocation;
    private void generateMaze()
    {
        // Maze generation logic would go here
        
        startLocation = MazeUtilities.mazeFor(userName);
    }

    List<NodeLink> visited = new List<NodeLink>();

    private List<NodeLink> exploreMaze(NodeLink startingCell)
    {
        List<NodeLink> visitedNodes = new List<NodeLink>();
        exploreNode(startingCell, ref visitedNodes);
        return null;
        //not implemented yet
    }

    private void exploreNode(NodeLink startingCell, ref List<NodeLink> visitedNodes)
    {
        if (startingCell == null) return;

        // Check each direction for a NodeLink that isn't null and hasn't been visited yet
        NodeLink newLink;

        if (startingCell.To.North != null)
        {
            newLink = new NodeLink(startingCell.To, "North", startingCell.To.North);
            if (visitedNodes.Contains(newLink) is false)
            {
                visitedNodes.Add(newLink);
                exploreNode(newLink, ref visitedNodes);
            }
        }

        if (startingCell.To.East != null)
        {
            newLink = new NodeLink(startingCell.To, "East", startingCell.To.East);
            if (visitedNodes.Contains(newLink) is false)
            {
                visitedNodes.Add(newLink);
                exploreNode(newLink, ref visitedNodes);
            }
        }

        if (startingCell.To.South != null)
        {
            newLink = new NodeLink(startingCell.To, "South", startingCell.To.South);
            if (visitedNodes.Contains(newLink) is false)
            {
                visitedNodes.Add(newLink);
                exploreNode(newLink, ref visitedNodes);

            }
        }

        if (startingCell.To.West != null)
        {
            newLink = new NodeLink(startingCell.To, "West", startingCell.To.West);
            if (visitedNodes.Contains(newLink) is false)
            {
                visitedNodes.Add(newLink);
                exploreNode(newLink, ref visitedNodes);
            }
        }

        return;
    }
}
