@page "/basicMaze"
@using System.Runtime.CompilerServices
@using MermaidJS.Blazor
@using labyrinth
<PageTitle>Basic Maze</PageTitle>

<h1>Basic Maze Visualizer</h1>

<h1>Enter your name:</h1>
<input @bind="userName" />

<button @onclick="generateMaze">Generate Basic Maze</button>

<h2>Start Location:</h2>
<p>@startLocation</p>

<MermaidDiagram Definition="@mazeBody" />

@if (startLocation != null)
{
    <h2>Guess a path through the Maze: (Use N for "North", S for "South", E for "East", W for "West")</h2>
    <input type="text" @bind="userGuess" />
    <button @onclick="ChangePathMessage">Check Guess</button>

    <p>@GuessedPathMessage</p>
}
@code {
    private string userGuess = "";
    string GuessedPathMessage = "No guess yet. Please enter a path and click the button above to check your guess.";
    
    private void ChangePathMessage()
    {
        GuessedPathMessage = MazeUtilities.isPathToFreedom(startLocation, userGuess)
     ? "Correct!"
     : "Incorrect. Try again.";
    }

    private string userName = "";
    private MazeCell? startLocation;
    List<NodeLink> visited = new List<NodeLink>();

    string mazeBody => generateMazeBody();

        
    private void generateMaze()
    {
        startLocation = MazeUtilities.mazeFor(userName);
        generateMazeBody();
    }

    private string generateMazeBody()
    {
        if (startLocation == null) return "No maze generated yet. Please click the button above to generate a maze.";

        
        string mazeBody = "graph TD\n";
        List<NodeLink> visitedNodes = exploreMaze;
     
        return mazeBody += string.Join("\n", visitedNodes.Select(l => l.Label));
    }

    private List<NodeLink> exploreMaze => NodeLink.ExploreMaze(startLocation);

}
