@page "/basicMaze"
@using System.Runtime.CompilerServices
@using MermaidJS.Blazor
@using labyrinth
<PageTitle>Basic Maze</PageTitle>

<h1>Basic Maze Visualizer</h1>

<h1>Enter your name:</h1>
<input @bind="userName" />

<button @onclick="generateMaze">Generate Basic Maze</button>
<MermaidDiagram Definition="@mazeBody" />

<h2>Start Location:</h2>
<p>@startLocation</p>

<h2>Instructions:</h2>
@mazeBody

@code {

    private string userName = "";
    private MazeCell? startLocation;
    List<NodeLink> visited = new List<NodeLink>();

    string mazeBody => generateMazeBody();

        
    private void generateMaze()
    {
        startLocation = MazeUtilities.mazeFor(userName);
        generateMazeBody();
    }

    private string generateMazeBody()
    {
        if (startLocation == null) return "No maze generated yet. Please click the button above to generate a maze.";

        
        string mazeBody = "graph TD\n";
        List<NodeLink> visitedNodes = exploreMaze(startLocation);
     
        return mazeBody += string.Join("\n", visitedNodes.Select(l => l.Label));
    }

    private List<NodeLink> exploreMaze(MazeCell startingCell)
    {
        List<NodeLink> visitedNodes = new List<NodeLink>();
        exploreNode(startingCell, ref visitedNodes);

        return visitedNodes;
    }

    private void exploreNode(MazeCell startingCell, ref List<NodeLink> visitedNodes)
    {
        if (startingCell == null) return;

        // Check each direction for a NodeLink that isn't null and hasn't been visited yet
        NodeLink newLink;

        if (startingCell.North != null)
        {
            newLink = new NodeLink(startingCell, "North", startingCell.North);
            if (visitedNodes.Contains(newLink) is false)
            {
                visitedNodes.Add(newLink);
                exploreNode(startingCell.North, ref visitedNodes);
            }
        }

        if (startingCell.East != null)
        {
            newLink = new NodeLink(startingCell, "East", startingCell.East);
            if (visitedNodes.Contains(newLink) is false)
            {
                visitedNodes.Add(newLink);
                exploreNode(startingCell.East, ref visitedNodes);
            }
        }

        if (startingCell.South != null)
        {
            newLink = new NodeLink(startingCell, "South", startingCell.South);
            if (visitedNodes.Contains(newLink) is false)
            {
                visitedNodes.Add(newLink);
                exploreNode(startingCell.South, ref visitedNodes);

            }
        }

        if (startingCell.West != null)
        {
            newLink = new NodeLink(startingCell, "West", startingCell.West);
            if (visitedNodes.Contains(newLink) is false)
            {
                visitedNodes.Add(newLink);
                exploreNode(startingCell.West, ref visitedNodes);
            }
        }

        return;
    }


}
