@page "/twistyMaze"
@using labyrinth
@using MermaidJS.Blazor

<PageTitle>Twisty Maze</PageTitle>

<h1>Twisty Maze Visualizer</h1>

<h1>Enter your name:</h1>
<input @bind="userName" />

<button @onclick="generateTwistyMaze">Generate Twisty Maze</button>

<h2>Start Location:</h2>
<p>@startLocation</p>

<MermaidDiagram Definition="@mazeBody" />


@code {


    private string userName = "";
    private MazeCell? startLocation;
    List<NodeLink> visited = new List<NodeLink>();


    string mazeBody => generateMazeBody();


    private void generateTwistyMaze()
    {
        startLocation = MazeUtilities.twistyMazeFor(userName);
    }
     
    private string generateMazeBody()
    {
        if (startLocation == null) return "No maze generated yet. Please click the button above to generate a maze.";

        
        string mazeBody = "graph TD\n";
        List<NodeLink> visitedNodes = exploreMaze;
     
        return mazeBody += string.Join("\n", visitedNodes.Select(l => l.Label));
    }

    private List<NodeLink> exploreMaze => NodeLink.ExploreMaze(startLocation);

}